[Unit]
Description=Data Disk 1 mount

[Mount]
What=/dev/disk/by-id/ata-WDC_WD40EFRX-68N32N0_WD-WCC7K7YHET2C-part1
Where=/mnt/data/data1
Type=ext4
Options=defaults

[Install]
WantedBy=multi-user.target

