[Unit]
Description=Yuzukam

[Container]
Image=ghcr.io/janlucaklees/yuzukam:latest
ContainerName=yuzukam
AutoUpdate=registry
PublishPort=127.0.0.1:{{ service.port }}:3000
Environment=TZ={{ tz }}
HealthCmd=wget -q --spider http://127.0.0.1:3000/ || exit 1
HealthOnFailure=kill

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
