################################################################################
# WATCHTOWER SETTINGS                                                          #
################################################################################

# The Docker image tag that should be used
TAG=latest

# How often Watchtower should check for new images (in seconds).
SCHEDULE=0 0 2 * * *
