[Unit]
Description=Data Disk 2 mount

[Mount]
What=/dev/disk/by-partuuid/243e4d8c-d018-4b9a-af9d-dcd3626138d4
Where=/mnt/data/data2
Type=ext4
Options=defaults

[Install]
RequiredBy=local-fs.target
