[Unit]
Description=Data Disk 1 mount

[Mount]
What=/dev/disk/by-partuuid/a36d7f0a-aa65-4214-98e0-f3818954a494
Where=/mnt/data/data1
Type=ext4
Options=defaults

[Install]
RequiredBy=local-fs.target
