[Unit]
Description=Pool mount
Requires=mnt-data-data1.mount mnt-data-data2.mount mnt-data-data3.mount mnt-parity-parity1.mount

[Mount]
What=/mnt/data/*
Where=/pool
Type=fuse.mergerfs
Options=defaults,allow_other,use_ino,category.create=eplfs,moveonenospc=true,minfreespace=20G,fsname=mergerfsPool,cache.writeback=false,cache.symlinks=false,cache.readdir=false,async_read=true,threads=4

[Install]
RequiredBy=local-fs.target
