<domain type="kvm">
  <name>{{ item.name }}</name>
  <memory unit="MiB">{{ item.memory_mib }}</memory>
  <vcpu>{{ item.vcpus }}</vcpu>
  <os>
    <type arch="x86_64" machine="q35">hvm</type>
  </os>
  <features><acpi/><apic/></features>
  <cpu mode="host-passthrough"/>
  <devices>
    <disk type="file" device="disk">
      <driver name="qemu" type="qcow2"/>
      <source file="{{ images_dir }}/{{ item.name }}.qcow2"/>
      <target dev="vda" bus="virtio"/>
    </disk>
{# The serial is what `prepare` addresses these by: the guest exposes a virtio disk with a
   serial as /dev/disk/by-id/virtio-<serial>, so the partitioning play names the disk this
   file created rather than trusting that guest enumeration follows the order below. The
   `<target dev=>` is a hint to qemu, not a promise to the guest; a serial is identity. #}
{% for n in range(1, storage_disk_count + 1) %}
    <disk type="file" device="disk">
      <driver name="qemu" type="qcow2"/>
      <source file="{{ images_dir }}/{{ item.name }}-storage{{ n }}.qcow2"/>
      <target dev="vd{{ 'bcdefghi'[n - 1] }}" bus="virtio"/>
      <serial>storage{{ n }}</serial>
    </disk>
{% endfor %}
    <disk type="file" device="cdrom">
      <driver name="qemu" type="raw"/>
      <source file="{{ images_dir }}/{{ item.name }}-seed.iso"/>
      <target dev="sda" bus="sata"/>
      <readonly/>
    </disk>
    <interface type="network">
      <source network="default"/>
      <model type="virtio"/>
    </interface>
    <serial type="pty"><target port="0"/></serial>
    <console type="pty"><target type="serial" port="0"/></console>
    <rng model="virtio"><backend model="random">/dev/urandom</backend></rng>
  </devices>
</domain>
